<footer class="main-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
    <div class="container">
    	<div class="pull-left">
    		<%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    	</div>
    	<div class="pull-right">
    		<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>	
    	</div>
    </div>
</footer>