<header>
  <div class="container text-center">
    <h1 class="blog-title"><%= config.title %></h1>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% for (var i in theme.menu){ var linkPath = theme.menu[i] %>
            <li>
              <a  href="<%- url_for(linkPath) %>" class="<% if ((linkPath != '' && is_current(linkPath)) || (linkPath == path )){ %>active<% } %>">
                <%= i %>  
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>