<% if (post.prev || post.next){ %>
<nav class="article-nav">
  <% if (post.prev){ %>
  <span class="pull-right">
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </span>
    </a>
  </span>
  <% } %>
  <% if (post.next){ %>
  <span class="pull-left">
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <i class="glyphicon glyphicon-chevron-left"></i><%= post.next.title %>
    </a>
  </span>
  <% } %>
</nav>
<% } %>